
  <%= render 'submission', submission: @submission %>

  <% if @submission.user == current_user %>
  <li><%= link_to "Edit Submission", edit_proposal_submission_path(@submission) %></li>
  <li><%= link_to 'Destroy', proposal_submission_path, :method => :delete %></li>
<% end %>
