<%-# THIS IS THE INDIVIDUAL PROPOSAL# SHOW PARTIAL  -%>

<h2><%= proposal.name %></h2>
      <%-# USER AVATAR IMAGE THAT IS ALSO A LINK -%>
<%= link_to image_tag(proposal.avatar.url(:medium)), proposal_path(proposal) %>

<h4>Short Description:
  <%= proposal.short_desc %></h4>
