<div class="spacer"></div>
<h1 class = "normal">PROPOSALS</h1>
<div class="fullWidth">
<% @proposals.each do |proposal| %>
  <div class="fullWidth">
    <%= render 'proposalIndex', proposal: proposal %>
  </div>
<% end %>
</div>
