
  <%= render 'proposal', proposal: @proposal %>
  <li><%= link_to "Return to Proposal Index", proposals_path %></li>
  <% if @proposal.user == current_user %>
  <li><%= link_to "Edit Proposal", edit_proposal_path(@proposal) %></li>
  <li><%= link_to 'Destroy', @proposal, :method => :delete %></li>
<% end %>
