.container{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25px 1fr 1fr;
}

.navbar{
  grid-column-start: 1;
  grid-column-end: 4;
  display: inline;
}
