.container{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 55px 1fr 1fr;
  background-color: hsl(243,25%,81%);
}

.navbar{
  grid-column-start: 1;
  grid-column-end: 4;
  display: inline;
  line-height: 55px;
  text-align: center;
  background-color: hsl(34,92%,50%);
}
.spacer{
  width: 100%;
  height: 200px;
  display:block;
}
.navbar > span{
  font-family: serif;
  font-size: 25px;
  padding-right: 40px;
}
.fullWidth{
  width: 100%;
  display: block;
}
.box{
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  width: 100%;
  border-radius: 20px;

}

a:link, a:visited{
    text-decoration: none;
    color: gray;
}


.normal{
  color: gray;
  text-align: center;
  width: 100%;
  display: block;

.grid-item-2{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.grid-item-3{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.grid-item-4{
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.grid-item-7{
  grid-column: 2 / 3;
  grid-row: 3 / 4;

}
